@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #f8f8f2;
    font-size: 35px;
    font-weight: 600;
    outline: none;
}

:root {
    --largura: 400px;
}

body {
    background-color: #282a36;
}

.corpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.calc-body {
    background-color: #44475a;
    box-shadow: 0 0 11px 6px #1f212c;
    min-width: 40vw;
    margin: 10px 0;
    height: 97vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8vh repeat(6, 1fr);
    grid-template-areas: "tit . . ."
                         "visor visor visor visor"
                         "col-1 col-2 col-3 col-4"
                         "col-1 col-2 col-3 col-4"
                         "col-1 col-2 col-3 col-4"
                         "col-1 col-2 col-3 col-4"
                         "col-1 col-2 col-3 col-4";
    z-index: 2;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.position-left {
    justify-content: flex-start;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    color: #f8f8f2;
    text-align: center;
    font-size: 70% !important;
    border: 2px solid white;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size .5s;
}

#modelo {
    font-size: 50%;
}

.visor {
    background-color: transparent;
    margin: 0 10px;
    border-radius: 20px;
    grid-area: visor;
    position: relative;
    overflow: hidden;
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}

.col-4 {
    grid-area: col-4;
}

.linha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div-linha {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-soma {
    height: 36%;
}

.botoes {
    width: 90%;
    height: 17%;
    text-align: center;
    border-radius: 20px;
    background-color: #6272a4;
}

.btn-on {
    background-color: #136627;
    transition: .3s;
}

.btn-off {
    background-color: #bd93f9;
}

.simbolo {
    background-color: #4e5d8b;
}

.btn-igual {
    background-color: #ffb86c;
}

.btn-apagador {
    background-color: #ff5555;
}

.borda-externa {
    border: 2px solid white;
    border-radius: 15px;
    grid-area: tit;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borda-externa:hover, #titulo:hover {
    border-color: #50fa7b;
    color: #50fa7b;
    transition: .5s;
}

#entrada {
    width: 100%;
    height: 100%;
    color: black !important;
    text-align: end;
    background-color: #f8f8f2;
    border: 3px solid #6272a4;
    box-shadow: inset 0px 14px 27px -13px rgba(40, 42, 54, 0.72);
    border-radius: 20px;
    padding-right: 5px;
    transition: .2s;
}

.visor-ligado {
    border: 3px solid #bd93f9 !important;
    box-shadow: inset 0px 14px 27px -13px rgba(189,147,249,0.72) !important;
}

.btn-calc {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-calc:hover {
    background-color: rgba(0, 0, 0, 0.548);
}

#past-entrada {
    position: absolute;
    display: block;
    right: 20px;
    text-align: end;
    margin-top: 10px;
    font-size: 20px;
}

/** Parte da calculadora E = mc2 */

.btn-menu {
    background-color: #44475A;
    border: none;
    display: flex;
    margin-top: 50px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -50px;
    width: 100px;
    flex-direction: row-reverse;
    transition: width 1s;
}

.btn-menu:hover {
    background-color: #373a49;
}

#menu-icon {
    width: 50px;
    filter: invert(100%);
}

.container {
    border: 0 solid blue;
    width: 0px;
    height: 100%;
    transform-origin: left;
    transition: 1s ease-in-out;
}

.container-show {
    width: var(--largura);
}

.calc-emc {
    background-color: #44475A;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    border-radius: 0 0 20px 0;
    width: var(--largura);
    margin-top: 50px;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
    z-index: 0;
}

.calc-emc-show {
    transform: translateX(0px);
}

.tit-emc {
    display: flex;
    justify-content: center;
    margin: 2px 0;
}

.tit-emc > img {
    height: 45px;
    filter: invert(100%);
}

.input {
    display: flex;   
    align-items: center;
    margin-bottom: 1px;
    background-color: white;
    height: 42px;    
}

.right-botton-corner {
    border-radius: 0 0 10px 0;
}

.label-emc {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    color: #868686b9;
    font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-emc {
    text-align: end;
    background-color: rgb(255, 255, 255);
    width: 70%;
    font-size: 50%;
    border: none;
    color: black;
    outline: none;
    font-weight: 300;
}

.historico {
    order: -1;  
    background-color: #44475a;
    margin-top: 5vh;
    padding: 10px;
    max-width: 250px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 11px 6px #1f212c;
    transition: 1s;
}

.historico > p {
    color: #bd93f9;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border-bottom: 1px dashed #ff79c6;
}

.cx-celulas {
    display: flex;
    max-height: 80vh;
    flex-direction: column; 
    overflow-y: auto;
}

::-webkit-scrollbar {
    background-color: #6272a4;
    width: 10px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #bd93f9;
    border-radius: 15px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.celula {
    margin-right: 5px;
    font-weight: 300;
    border-bottom: 1px solid #bd93f9;
    color: #f8f8f2;   
}

@media only screen and (max-width: 720px) {
    .btn-menu {
        width: 0px;
    }

    .historico {
        max-width: 0px;
        padding: 0;
    }

    #titulo {
        font-size: 50% !important;
    }
}

/** Calculadora simples */

.agr-sim-a-calculadora-pedida {
    margin: 20px;
}

.agr-sim-a-calculadora-pedida input {
    font-size: initial;
    color: black !important;
}

.agr-sim-a-calculadora-pedida input[type=text] {
    width: 100px;
}

/** Avisos */

.avisos {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #000000e5;
    overflow: auto;
    padding: 10px 20px;

}

ul {
    margin-left: 30px;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}

li strong {
    font-size: inherit;
    color: #bd93f9;
}

#entendi {
    display: block;
    margin: 0 auto;
    background-color: #50fa7b;
    border: none;
    padding: 10px;
    color: #282a36;
    cursor: pointer;
}

#entendi:hover {
    background-color: #3dce61;
}

.por-zero {
    background-color: #ff5555;
    position: fixed;
    top: 0px;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.por-zero h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
}

.por-zero p {
    font-size: 20px;
    text-align: center;
}